.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    border: 2px solid blue;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 10px;
    border: 2px solid blue;
}