
* {
    margin: 0;
    padding: 0;
}


.todo1-con {
    width: 100vw;
    height: 100%S;
    background: black;
    position: absolute;
    /* display: flex;
    align-items: center;
    justify-content: center; */
    
}

.todo1-app{
    width: 30rem;
    min-height: 25vh;
    background-color: antiquewhite;
    margin: 0 auto;
    margin-top: 25vh;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    gap:20px;
    padding-left: 100px;
}

.todo1-input{
    display: flex;
    gap: 20px;
}



.todo1-list {
    display: flex;
    gap: 10px;
}

